agent_1753567262915.json
{
  "nodes": [
    {
      "parameters": {
        "path": "github_n8n_de795227b0cb",
        "responseMode": "responseNode",
        "httpMethod": "GET"
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const num1 = Math.floor(Math.random() * 100);\nconst num2 = Math.floor(Math.random() * 100);\nconst operation = Math.random() < 0.5 ? '+' : '*';\nlet result;\n\nif (operation === '+') {\n  result = num1 + num2;\n} else {\n  result = num1 * num2;\n}\n\nreturn [{\n  json: {\n    message: `The result of ${num1} ${operation} ${num2} is ${result}`,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "function-node",
      "name": "Calculate and Create Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "responseData": "={{ $json }}",
        "responseCode": 200
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Calculate and Create Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate and Create Message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "name": "Math Agent",
  "id": "1"
}